/LicenceProjectWindows8/LicenceProjectWindows8_TemporaryKey.pfx
/LicenceProjectWindows8/package.appxmanifest
/LicenceProjectWindows8/bin
/LicenceProjectWindows8/bld
/LicenceProjectWindows8/LicenceProjectWindows8.jsproj.user
