.adminHome section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.win-listview {
    height: 90%; 
    width: 90%;
    left: 16%;
}

.elemListView {
    cursor: pointer;
}

.win-item {
    margin: 0 25px 0 25px;
}
